@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
.modal {
  min-height: 100vh;
  color: var(--foreground);
  background: url('/space/space-stars.jpg') repeat top center / contain, var(--background);
}
.modal {
  background: url('/space/milky_way.webp') repeat top center / contain, var(--background);
}

@layer base {
  /* Приховуємо скролбар */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .remove-scrollbar::-webkit-scrollbar-track,
  .remove-scrollbar::-webkit-scrollbar-thumb,
  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}
